@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f7f9fb;
}

::-webkit-scrollbar-thumb {
    background: #243147;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background: #ad9536;
}

.radius-main {
    border-radius: 0.7rem;
}

.img-panel-product,
.card-panel-product {
    min-height: 200px;
    max-height: 200px;
    height: 100%;
}

.card-product-panel:hover {
    text-decoration: none;
    color: #ad9536;
}

.card-product-panel {
    transition: all 0.4s;
}

.card-title {
    background-image: url('../img/BarraSup.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sidebar {
    height: 100vh;
    width: 66px;
    z-index: 1061;
    transition: all 0.5s ease;
}

.sidebar.extended {
    width: 225px;
}

.sidebar div>ul>li {
    border: 4px solid;
}

.content-page {
    margin-left: 66px;
    height: 100vh;
    overflow: auto;
}

.icon-panel-menu {
    font-size: 80pt;
}

.toast-page {
    z-index: 5;
    right: 0;
    bottom: 0;
}

.editable-buttons,
.editable-clear-x {
    display: none;
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    text-decoration: none;
    border-bottom: none;
}




.select2-container{
    width: 100% !important
}

.select2-container .select2-selection {
    height: 37px !important;
    border: 1px solid #ced4da !important;
}

.select2-container .select2-selection__arrow {
    height: 35px !important;
}


.select2-container .select2-selection > .select2-selection__rendered {
    line-height: 37px !important;
}